@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900|Roboto:400,500,700,900&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0px;
	background-color: #f3dfe3;
}

h1, h2 {
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 500;
}

a {
	text-decoration: none;
}

#introduction {
	font-size: 24px;
}

#card-title {
	color: white;
	font-weight: 700;
}